.Weather {
    padding: 16px;
    color: #878787;
    border: 1px solid #eee;
    border-radius: 5px;
}

.Weather h1 {
    margin: 20px 0 0 0;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style-type: none;
}

.Weather img {
    width: 64px;
    margin-right: 5px;
    float: left;
}

.Weather .temperature {
    font-size: 64px;
    line-height: 64px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    float: left;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 33, 33);
}
